.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
body {
  min-width: 992px;
}
table {
  width: 100%;
}
tr {
  border: 1px solid #ccc;
}
th {
  background-color: silver;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:first-child {
    max-width: 100px;
  }
}
td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:first-child {
    max-width: 100px;
  }
  &:last-child {
    max-width: 150px;
  }
}
