.error {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  &__container {
    text-align: center;
    & > h1 {
      font-size: 100px;
      font-weight: 500;
    }
    & > h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    & > button {
      padding: 12px 32px;
      border-radius: 4px;
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
        color: #333;
      }
      a {
        color: inherit;
      }
    }
  }
}
