.cart--empty {
  text-align: center;
  width: 1200px;
  max-width: 100%;
  padding-top: 150px;
  margin: 0 auto;
  height: 60vh;
}

.cart--empty > h1 {
  margin-bottom: 20px;
  font-size: 32px;
}
button > a {
  color: #fff;
}
